# --- [ Unity ] ---
/[Aa]ssets/AssetStoreTools*
/[Ll]ibrary/
/[Tt]emp/
/[Obj]/
/[Build]/
/[Builds]/
/[Logs]/
/[UserSettings]/
/[MemoryCaptures]/

# Unity가 자동 생성하는 프로젝트 파일들
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.VC.db

# Unity 시스템 파일
sysinfo.txt
*.apk
*.unitypackage

# --- [ VS Code & Editors ] ---
.vscode/
.vs/
.idea/
*.swp
*.bak
*.patch
*.diff

# --- [ OS & System ] ---
.DS_Store
Thumbs.db
desktop.ini